<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/Vegam_MaintenanceService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=(DESCRIPTION =&#xD;&#xA;    (ADDRESS_LIST =&#xD;&#xA;    (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.2.113)(PORT = 1521))&#xD;&#xA;    )&#xD;&#xA;    (CONNECT_DATA =&#xD;&#xA;    (SERVICE_NAME = JSLDEVJANDB)&#xD;&#xA;    )&#xD;&#xA;    );User ID=JSLADMIN;Password=Aureole12;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=(DESCRIPTION =&#xD;&#xA;    (ADDRESS_LIST =&#xD;&#xA;    (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.2.113)(PORT = 1521))&#xD;&#xA;    )&#xD;&#xA;    (CONNECT_DATA =&#xD;&#xA;    (SERVICE_NAME = JSLDEVJANDB)&#xD;&#xA;    )&#xD;&#xA;    );User ID=JSLADMIN;Password=Aureole12;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationConnection-Web.config Connection String" />
  </ItemGroup>
</Project>