<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationConnection" connectionString="Server=(DESCRIPTION =&#xD;&#xA;    (ADDRESS_LIST =&#xD;&#xA;    (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.2.113)(PORT = 1521))&#xD;&#xA;    )&#xD;&#xA;    (CONNECT_DATA =&#xD;&#xA;    (SERVICE_NAME = JSLDEVJANDB)&#xD;&#xA;    )&#xD;&#xA;    );User ID=JSLADMIN;Password=Aureole12;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>

    <add key="CurrentDatabaseType" value="ORACLE"/>
    <!--<add key="CurrentDatabaseType" value="ORACLE"/>-->
    <!--ORACLE MYSQL MSSQL-->
    
    <add key="LogFileLocation" value="D:\Logs\iPAS_LogFiles\"/>
    <add key="EnableCustomException" value="false"/>
    <!-- MESSAGE AND ACTIVITY LOGGING SETTINGS (start) 

     There are three settings for each log file: Path, PathType, Name.
     -  Path is the physical path, either a UNC or virtual path or Amazon buket from the web application rool
     -    PathType identifies whether the path is a  UNC or Virtual: [unc|virtual|amazon]
     -  Name is the name of the file to write to
     
     Each of these settings has prefix indication the different log, and a suffix for one
     of the three settings <prefix><suffix>, eg:
     -  The message log will have a prefix = MessageLog and it's three keys will be:
      *  MessageLogPath
      *  MessageLogPathType
      *  MessageLogName
    -  An alternate log might have a prefix of Alt and it's three keys will be:
      *  AltPath
      *  AltPathType
      *  AltName

    Logging Level will determine if any extended logging is needed.  The current levels provided
    are:
    -  Normal           - 0:  No extended logging will occur, but normal logging activty will
                  still be processed.
    -  Form Tags        - 1:  All the form element values will be added to the notes section
                  in a seperate log entry.  The data will be seperated by semi-colons
                  into key-value pairs seperated by an equals sign.
    -  Query String     - 2:  All the query string paramters will be added to the notes section
                  in a seperate log entry.  The data will be seperated by semi-colons
                  into key-value pairs seperated by an equals sign.
    -  Browser Settings - 4:  The requesting browser's information will be added to the notes
                  section in a seperate log entry.  The data will e seperated by
                  semi-colons into key-value pairs seperated by an equals sign.
    Logging level uses a bit-masked value, so to enable multiple settings at once, ad the values
    together to turn on multiple logging levels:  to turn on both form and query string
    logging, 1 + 2 = 3, use 3 as the value.
    -->
    <!-- virtual directory on the web site: "." == Web app root; or a UNC path-->
    <!-- assumed to be the root virtual path (".") of the current web site if this parameter is missing -->
    <add key="MessageLogPath" value="D:\Logs\iPAS_ErrorLogFiles"/>
    <!-- virtual or unc (assumed to be a virtual path on the server if this parameter is missing) -->
    <add key="MessageLogPathType" value="unc"/>
    <!-- log file names -->
    <add key="MessageLogName" value="ipas.log"/>
    <!-- logging level: 0 = normal, 1 = form tags, 2 = query string, 4 = browser settings -->
    <add key="loggingLevel" value="0"/>
    <!--keep 0 for server log -->
    <add key="logFieldDelimiter" value="|"/>
    <!-- MESSAGE AND ACTIVITY LOGGING SETTINGS (end) -->
    <!-- EXCEPTION POLICY RULES (start) -->
    <!-- CURRENT EXCEPTION POLICIES
     GeneralLoggingRule: This rule is the default rule for any exception that isn't configured here
               and writes the exception the message log.
    -->
    <add key="iPAS.ExceptionHandler.MessageLogException" value="ApplicationEventLoggingRule"/>
    <!-- EXCEPTION POLICY RULES (end) -->
    <!--Maintenance Info-->
    <add key="FunctionalLocImagePath" value="http://192.168.1.100/ipas_imageuploader/Maint/FLocationImages/"/>
    <add key="EquipmentImagePath" value="http://192.168.1.100/ipas_imageuploader/Maint/EquipmentImages/"/>
    <add key="EquipmentModelImagePath" value="http://192.168.1.100/ipas_imageuploader/Maint/EquipmentModelImages/"/>
    <add key="MeasuringPointImagePath" value="http://192.168.1.100/ipas_imageuploader/Maint/MeasuringPointImages/"/>
    <add key="MaintenanceDocumentsPath" value="http://192.168.1.100/ipas_imageuploader/Maint/MaintenanceDoc/"/>
    <add key="MaintenanceTaskGroupDocLocation" value="http://localhost:4079/Maint/TaskGroupDoc/"/>
    <add key="WorkOrderImagePath" value="http://192.168.1.100/ipas_imageuploader/Maint/WorkOrderImages/"/>
    <add key="MaintScheduleAttachmentPath" value="http://192.168.1.100/ipas_imageuploader/Maint/MaintenanceAttachments/" />
    <add key="NotificationAttachmentPath" value="http://192.168.1.100/Maint/NotificationAttachments/"/>

    <add key="PPEImagePath" value="http://192.168.1.100/ipas_imageuploader/PPEImages/" />
    <add key="ToolsImagePath" value="http://192.168.1.100/ipas_imageuploader/ToolsImages/" />

    <add key="VegamViewServicePath" value="http://192.168.1.108/iPAS_VegamViewService/VegamViewRestService.svc/"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
   <system.serviceModel>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <!-- Services-Start -->
     <services>     
      <!-- Maintenance SOAP Service-->
      <service name="Vegam_MaintenanceService.MaintenanceService" behaviorConfiguration="SOAPServiceBehavior">
         <endpoint address="" binding="basicHttpBinding" contract="Vegam_MaintenanceService.IMaintenanceService">
           <identity>
             <dns value="localhost"/>
           </identity>
         </endpoint>
         <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
	  
	  <!-- Mobile Rest API Service -->
	   <service name="Vegam_MaintenanceService.MaintenanceMobileAPIService" behaviorConfiguration="RestServiceBehavior">
        <endpoint address="" behaviorConfiguration="RestServiceEndBehavior" binding="webHttpBinding"
            bindingConfiguration="WebHttpBinding_IMaintenanceMobileAPIService" contract="Vegam_MaintenanceService.IMaintenanceMobileAPIService" >
        </endpoint>
      </service>
       
    </services>
    <!-- Services-End -->

    <!-- Bindings-Start -->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMaintenanceService" closeTimeout="00:10:00"
           openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
           allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
           maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
           messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
           useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384"
            maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_IMaintenanceMobileAPIService" closeTimeout="00:10:00"
			openTimeout="00:10:00" receiveTimeout="00:10:00"
            sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <!-- Bindings-End -->

    <!-- Behavior-Start -->
    <behaviors>
      <serviceBehaviors>
        <behavior  name="RestServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>

        <behavior name="SOAPServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RestServiceEndBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!-- Behavior-End -->
  </system.serviceModel>  
    
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>
