.input-focus {
    border: 1px solid #66afe9 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

.drpdownbody input[type=radio], .drpdownbody input[type=checkbox] {
    transform: scale(1.4,1.4) !important;
    -ms-transform: scale(1.2,1.2);
    outline: 0;
}

/*input[type=checkbox] {
    pointer-events: none;
}*/

.drpdownbody input[type='checkbox'] {
    pointer-events: none;
    display: inline-block;
}

.appendSelectedElements {
    text-overflow: ellipsis;
    display: inline-block;
    width: 80%;
    white-space: nowrap;
    overflow: hidden !important;
}

.drpDownList {
    list-style: none;
    display: block;
    /*border: 1px solid #c7c7c7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;*/
    z-index: 99999;    
}

.searchField {
    font-size: 12.5px;
}

.li {
    display: block;
    padding: 2px 0px 2px 0px;
    font-size: 11.5px;
}
  .li label {
        text-overflow: ellipsis;
        max-width: 80%;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0px;
    }
/*li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    color: #000;
}*/

/*li:first-child:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    color: #000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

​ li:last-child:hover {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}*/

​ .li {
    text-decoration: none;
    display: block;
}

.drpDownList::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.drpDownList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset -2px -1px 10px 0px rgba(0,0,0,0.3);
    -webkit-border-radius: 50px;
    border-radius: 5px;
}

.drpDownList::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #E3E3E3;
    -webkit-box-shadow: inset -2px -1px 10px 0px rgba(0,0,0,0.5);
}

    .drpDownList::-webkit-scrollbar-thumb:window-inactive {
        background: #CECECE;
    }

.bordershadow {
    border: 1px solid #DEDEDE;
    border-radius: 4px;
}

.drpdownbody {
    border: 1px solid #dedede;
    background: #fff;
    position: absolute;
    z-index: 99;
    border-radius: 4px;
    padding: 6px 0px 2px 0px;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15) !important;
}

.functiondropdown {
    box-shadow: inset 0px -2px 9px 0px #cdcdcd;
    background-color: #e8e8e8;
    padding: 5px 6px 5px 7px;
    border: 1px solid #dedede;
    color: #000 !important;
    border-radius: 2.5px;
    font-size: 12.5px;
    height: 30px;
}


.usericon:before {
    font-family: FontAwesome;
    content: "\f095";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

.divider-border {
    border-bottom: 1px solid #cecece;
    margin-top: 36px;
}

.input-div {
    position: relative
}

    .input-div:after {
        font-family: 'FontAwesome';
        content: '\f002';
        position: absolute;
        right: 12%;
        top: 11px;
        color: darkgrey;
    }

.ulField .slidedowndiv:hover {
    background-color: #f8f8f8;
    cursor: pointer;
    color: #000;
}

.drpdownbody ul {
    padding: 0px;
    list-style: none;
}

.li > div {
    padding-bottom: 6px;
}

/*.subDrpdownList >li>span{

    padding-left: 13px;
}*/

.slidedowndiv {
    padding-top: 6px;
    padding-bottom: 6px;
}

.selectedParentlist {
    background-color: #e4e4e4;
    border-bottom: 1px solid #ffffff;
    /*padding-left: 10px;*/
}

.selectedlist {
    background-color: #c7e5ef !important;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    color: #000;
}

.fa-drop-icon {
}

.slidedowndiv {
    padding-left: 2px;
    font-size: 11.5px;
}

.fa-drop-icon {
    cursor: pointer;
    margin-right: 3px;
}

.drpdownbody span, .drpdownbody label {
    cursor: pointer !important;
}

    .drpdownbody span:hover {
        background-color: #f3f3f3;
    }
.show{
    display:block !important;
}